.description-text {
    text-align: center;
    color: #000;
    font-size: 16px;
    font-family: Tahoma;
}
.description-text__text___x-small {
    font-size: 12px;
}

.description-text__text___small {
    font-size: 16px;
}

.description-text__text___middle {
    font-size: 20px;
}

.description-text__text___big {
    font-size: 22px;
}

.description-text__text___bold {
    font-weight: bold;
}