.root {
    --background-color-light: #54b8cd;
    --border-color-light: #54b8cd;
    --color-light: #fff;
    --background-color__hover-light: #4995aa;
    --background-color-dark: #fff;
    --border-color-dark: lightgrey;
    --color-dark: #000;
    --background-color__hover-dark: grey;
}
.button {

    font-weight: 600;
    letter-spacing: 0;
    text-decoration: none;
    text-align: center;
    position: relative;
    /*display: inline-block;*/
    vertical-align: middle;
    border-radius: 8px;
    cursor: pointer;

    font-size: 16px;
    /*line-height: 22px;*/
    padding: 8px 24px 10px;
    font-size: 14px;
    /*line-height: 20px;*/

    margin-right: auto;
}
.button[data-theme='green'] {
    /*background-color: var(--background-color-dark);*/
    /*border-color: var(--border-color-dark);*/
    /*color: var(--color-dark);*/
    background-color: #4CAF05;
    border-color: #4CAF05;
    color: #fff;
}

.button[data-theme='blue'] {
    /*background-color: var(--background-color-light);*/
    /*border-color: var(--border-color-light);*/
    /*color: var(--color-light);*/
    background-color: #54b8cd;
    border-color: #54b8cd;
    color: #fff;
}
.button[data-theme='blue']:hover {

    background-color: #4995aa;
    border: 2px solid #4995aa;
}

.button[data-theme='green']:hover {

    background-color: #3C8804;
    border: 2px solid #3C8804;
}
.button__div {
    display: table-cell;
    vertical-align: middle;
    /*horiz-align: right;*/
    /*margin-right: auto;*/
}

.button__disabled[data-theme='blue'] {
    background-color: #6595aa;
    border: 2px solid #6595aa;
}
.button__disabled[data-theme='green'] {
    background-color: #5C8804;
    border: 2px solid #5C8804;
}
.in-basket__left-button {
    border-radius: 8px 0px 0px 8px;
}

.in-basket__right-button {
    border-radius: 0px 8px 8px 0px;
}