
.header
    padding: 20px 0
    height: 140px
    position: sticky
    background-color: #fff
    color: #5f697e

    display: flex
    z-index: 100
    border-bottom: 1px solid #757275


.buttonsContainer
    display: flex
    flex-direction: column
    align-items: center
    position: fixed
    right: 50px
    top: 110px

