//@import src/styles/common

.root
  padding-bottom: 60px

.page
  padding: 0px 20px 20px 20px
  //margin-top: 20px
  border-radius: 8px
  boxShadow: 0 3px 6px rgba(0, 0, 0, 0.05),

.title
  margin-top: 20px
  font-weight: 500
